/** Media Queries **/
@mixin telefono {
    @media (min-width: #{480px}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{768px}) {
        @content;
    }
}
  
@mixin desktop {
    @media (min-width: #{1024px}) {
        @content;
    }
}
@mixin grid($columnas, $espaciado ) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}

@mixin boton($bgColor,$display){
    background-color: $bgColor;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    padding: 1.5rem;
    text-align: center;
    display: $display;
    border-radius: 10px;

    &:hover{
        background-color: darken($bgColor, 5);
    }
}