@import "../../styles/Utilidades/mixins.scss";

.logo-spartan{
    width: 10rem;
    padding: 1rem 0rem .5rem 2rem;
}

.header {
    background-color: #000000;

    &.inicio{

        @include tablet {
            min-height: 70rem;
        }

        .contenido-header{
            @include tablet {
                min-height: 70rem;
            }
        }
    }
}


.barra {
    display: flex;
    flex-direction: column;
    align-items: center;
    

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion {
    @include tablet{
        display: flex;
        align-items: center;
    }

    a{
        color: #ffffff;
        text-decoration: none;
        font-size: 1.8rem;
        margin-bottom: 1rem;
        display: block ;
        text-align: center;
        text-transform: uppercase;

        

        @include tablet{
            margin-right: 2rem;
            margin-bottom: 0;
            font-size: 1.5rem;

            &:last-of-type{
                margin-right: 0;
            }
        }

        &:hover{
            color: #0d54a8;
            
            font-size: 1.8rem;
            
        }


    }

    
}

.select {
    color: #0d54a8 !important;
            
    font-size: 1.8rem !important;
  }
.unselect {
    color: #ffffff;

    font-size: 1.5rem;
}